*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    height:100%;
}

/* este codigo de body para que el footer siempre este en el pie de la pagina*/

body {
    margin: 0;
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
}
/* https://getbootstrap.com/docs/5.0/layout/breakpoints/#min-width */
  @media (min-width: 992px) {
    .alto-100 {
      height: 100vh;
    }
  }
/*comienza el nav*/
.navbar {
    background-color: #e9967a;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
   
}
.nav-item  {
    transition: 0.5s;
    border-radius: 3px;
    margin: 0 auto 0 0;
    padding: 20px 0 0 0;
    text-align: center;
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 20px;
    text-decoration: none;
    text-align: center;   
}

/* css de carousel*/
.carousel {
    display: flex;
    width: 100%;
    height: 500px;
}
.carousel .carousel-inner {
   display: flex;
   width: 100%;  
}
 .carrousel .carousel-item {
   width: 100px;
   height: 100px;
   max-height: 500px;
   object-fit: none;
}

h3 {
   display: block;
   padding: 100px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 500px;
   color: #ffffff;
}

.carousel slide {
    margin: auto;
    margin-top: 100px;
    width: 100%;
}

.logo-yescan {
    background-color: #4d4a4a; 
    padding: 10px 10px;
}
/*pie de carousel*/
.container-flex {
  display: flex;
  justify-content:end;
}

.item-flex {
    background-color: #808080;
    font-size: 25px;
    font-family: cursive;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
}

/*Registrarse*/

.form-register {
    background-color: #000000;
    font-family: cursive;
    color: #ffffff;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 140px;
    border-radius: 4px;
    border: 3px;
}
.form-register h4 {
    font-size: 30px;
}
  /*margen superior*/
.container-redes {
   display: flex;
   height: 80px;
   margin-top: 10px;
   align-items: end;
   justify-content: end;
   background-color: #000000;
}

.container-redes ul li{
    display: inline-block;
    margin:5px 5px;
    padding: top 30px;;
    max-width:50px;
    height: 50px;
    text-align: end;   
}

.container-redes ul li a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    align-items: center;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10p;
    background-color:#0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.container-redes ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    color: #0051ff;
}

/*Buscador*/

section .buscador {
    background-color: black;
    margin-left: 10px
}

.container-1 {
    background-color: #e9967a;
    padding: 20px 10px;
    margin: 0 20px 0 20px;
}

.card-body {
    max-width: 1200px;
    line-height: 70px;
    margin: 0 50px 0 30px;
    background-color: #ffffff;
    justify-content:left;
    flex-wrap: wrap;
}

 /*Nosotros*/

.container-acor {
    background-color: #4d4a4a;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-flow: row-reverse;

}
.acordion {
    width: 40px;
    line-height: 20px;
    flex-direction: center;
}

.conteiner-acor.accordion {
     flex-direction: row;
     justify-content: flex-end;
     align-content: flex-end;
     width: 400px;
     margin:50px;
}

.container-flex1 {
    display: flex;
    justify-content:center;
}
  
.item-flex1 {
      background-color: #480b0b;
      font-size: 25px;
      font-family: cursive;
      color: #ffffff;
      padding: 10px;
      margin: 10px;
  }
  .container-flex2 {
    display: flex;
    justify-content:center;
    padding-top: 20;
  }
  
  .item-flex2 {
      background-color: #808080;
      font-size: 25px;
      font-family: cursive;
      color: #ffffff;
      padding: 20px;
      margin: 10px;
    
  }

 /*footer*/

.pie-pagina {
    margin: 0;
    width: 100%;
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
}
.pie-pagina .grupo-1 .box figure {
    height: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
    width: 100px;
    margin-left: 40px;
    padding-top: 20px;
}
.pie-pagina .grupo-1 .box h3 {
    color: #efefef;
    font-size: 10px;
    margin-bottom: 25px;
}
.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.red-social a hover {
    color: #ffff00;
    transform: translateY(-3px) scale(1.05);
}    
.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}
.pie-pagina .grupo-2 small {
    font-size: 15px;
    color: #ffffff;
}